/*
Main:
http://kuler.adobe.com/#themeID/1641683
24221F (charcoal), 363F45 (very dk blue/gray), 4B5F6D (dk blue/gray), 5E7C88 (med blue/gray), FEB41C (bright orange) 
*/

html { margin: 0; padding: 0; background-color: #FFF; }

body {
	margin: 0;
	padding: 0;
	font-family: lucida grande, verdana, arial, sans-serif;
	line-height: 1.5;
}

#doc3 { margin: 0; overflow: hidden; background-color: #FFF; }

#hd {
	padding: 5px 10px;
	background-color: #4B5F6D;
	color: #FEB41C;
	
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

#hd a { color: #FFF; }

#logo { float: left; }

#logo a { text-transform: uppercase; text-decoration: none; }

#sessionInfo { float: right; text-align: right; }

#sessionInfo li:first-child:before { content: ""; color: #FEB41C; }

#sessionInfo li:before { content: " | "; color: #FEB41C; }

ul.menu, #breadcrumbs ul, #sessionInfo ul { margin: 0; padding: 0; }

ul.menu li, #breadcrumbs li, #sessionInfo li { display: inline; }

ul.menu li { margin-left: 10px; }

ul.menu li:first-child { margin-left: 0; }

#breadcrumbs li:after { content: " > "; }

#bdFtWrapper { width: 960px; margin: 20px auto; padding: 10px 20px; }

#ft {
	margin-top: 30px;
	border-top: 2px solid #EEE;
	padding: 20px 0;
	font-size: 93%;
}


/* COMPONENTS ======================================================================================================= */

.alert-message { width: 640px; margin: 20px auto; padding: 20px; }

.modal-header, .modal-body { text-align: left; }

.paneHead h2 { display: inline; line-height: 1.0; }

.paneBody { margin-top: 5px; }

.secondary { font-size: 93%; color: #999; }

.gravatar img {
	width: 64px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.table { display: table; width: 100%; }

div.tr { display: table-row; }

div.td { display: table-cell; }


/* ELEMENTS ========================================================================================================= */

h1, h2, h3 {
	font-weight: normal;
	color: #4B5F6D;
}

h1 {
	margin-top: 0;
	font-size: 182%;
}

h2 {
	font-size: 138.5%;
}

a {
	color: #009694;
}

li {
	list-style-type: square;
}


/* FORMS ============================================================================================================ */

.pageForm {
	width: 680px;
	margin: 20px 0;
	padding: 0;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.formItem {
	margin: 0;
	padding: 15px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #DDDDD0;
	background-color: #EEEEE0;
}

.formItem.first {
	border-top: 2px solid #DDDDD0;
}

label {
	color: #4B5F6D;
}

.formItem.required label {
	padding-left: 20px;
	background: url('../images/icons/asterisk-small.png') left no-repeat;
}

.formField {
	margin: 5px 0;
}

.formErrors {
	margin: 10px 0;
}

.formHint {
	font-size: 93%;
	color: #666;
}

.formSubmit {
	margin-top: 20px;
}

input[type=text], textarea {
	border: 1px solid #CCC;
	padding: 4px;
	background-color: #FFF;
	font-family: lucida grande, verdana, arial, sans-serif;
	font-size: 116%;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* input[type=text]:focus, textarea:focus { */
/* 	background-color: #FFE; */
/* } */

textarea.shortHeight {
	height: 80px;
}

input[type=submit].btn, button.btn {
	padding: 10px;
	font-family: lucida grande, verdana, arial, sans-serif;
}


/* ICONS ============================================================================================================ */

.icon {
	padding-left: 20px;
	background-position: left;
	background-repeat: no-repeat;
}

.add.icon { background-image: url('../images/icons/plus.png'); }
.addUser.icon { background-image: url('../images/icons/user--plus.png'); }
.asterisk.icon { background-image: url('../images/icons/asterisk-small.png'); }
.createProject.icon { background-image: url('../images/icons/folder--plus.png'); }
.deleteProject.icon { background-image: url('../images/icons/folder--minus.png'); }
.editProject.icon { background-image: url('../images/icons/folder--pencil.png'); }
.feed.icon { background-image: url('../images/icons/feed.png'); }
.json.icon { background-image: url('../images/icons/json.png'); }
.package.icon { background-image: url('../images/icons/box.png'); }
.servers.icon { background-image: url('../images/icons/servers.png'); }
.users.icon { background-image: url('../images/icons/users.png'); }
.warning.icon { background-image: url('../images/icons/exclamation.png'); }
.xml.icon { background-image: url('../images/icons/document-code.png'); }
